
configuration {
	modi:           "drun,window";
	combi-modi:     "window,drun,ssh";
	font:           "JetBrainsMono Nerd Font Bandit Medium 10";
	hide-scrollbar: true;
	theme:          "codedark";
	/* sidebar-mode: true; */
}